<div class="bpm-input input-group" id="bpm-{{mappingProfile.cid}}">
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">BPM</div>
        <input type="number" class="form-control" name="bpm" value="{{mappingProfile.bpm}}" />
      </div>
    </div>
  </form>
</div>
{{#if mappingProfile.code_maps}}
  <div class="maplist row">
    {{#each mappingProfile.code_maps}}
      <div class="map" id="map-{{../mappingProfile.cid}}-{{code}}" data-id="{{code}}">
        <div class="midi-code col-md-3">
          <span>{{code}}</span>
        </div>
        <div class="map-details col-md-6">
          <div class="animation-selector-wrapper">
              <select name="animation" class="form-control animation-selector" data-profile-cid="{{../mappingProfile.cid}}" data-midi-code="{{code}}">
                {{#select animation}}
                  {{#each ../animations}}
                    <option value="{{this.key}}">{{this.name}}</option>
                  {{/each}}
                {{/select}}
              </select>
          </div>
        </div>
        <div class="map-controls col-md-3">
          <button type="button" class="btn btn-primary trigger-map" data-midi-code="{{code}}" data-profile-cid="{{../mappingProfile.cid}}">
            <i class="glyphicon glyphicon-play-circle"></i>
          </button>
          <button type="button" class="btn btn-danger remove-map" data-midi-code="{{code}}" data-profile-cid="{{../mappingProfile.cid}}">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
