<div class="alert alert-info" id="save-alert" role="alert">Saved Configurations!</div>
<div class="row profile-tab">
  <span class="lead col-md-6">Profiles</span>
  <div class="add-save col-md-6">
    {{#if currentDevice}}
      <button type="button" class="btn btn-warning" id="save-profile">
        <i class="glyphicon glyphicon-floppy-save"></i>
      </button>
      <button type="button" class="btn btn-info" id="add-profile">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
    {{/if}}
  </div>
</div>
<div class="panel-group" id="config-profile-list" role="tablist" aria-multiselectable="false">
  {{#if currentDevice}}
    {{#each currentDevice.mapping_profiles}}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="hd-{{this.cid}}">
            <div class= "row">
              <div class="col-md-1">
                <input type="radio" name="selected-profile" data-profile-cid="{{this.cid}}"
                  {{~#ifEquals ../currentMappingProfile.cid this.cid~}}
                    checked
                  {{~/ifEquals~}}
                />
              </div>
              <div class="col-md-1">
                <a role="button" data-toggle="collapse" data-parent="#config-profile-list" href="#col-{{this.cid}}" aria-expanded="false" aria-controls="col-{{this.cid}}">
                  <span id="edit-{{this.cid}}" class="collapse-icon glyphicon glyphicon-triangle-right"></span>
                </a>
              </div>
              <div class="col-md-5">
                <h4 class="panel-title profile-title">
                  {{this.name}}
                </h4>
              </div>
              <div class="col-md-4 profile-buttons">
                <button type="button" class="btn btn-danger del-profile" id="del-{{this.cid}}">
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </div>
            </div>
          </div>
          <div id="col-{{this.cid}}" data-profile-cid="{{this.cid}}" class="panel-collapse collapse profile-collapse" role="tabpanel">
            <div class="panel-body map-elements" id="mp-{{this.cid}}"></div>
          </div>
        </div>
    {{/each}}
  {{/if}}
</div>
