<div class="row" id="settings-head">
  <div class="col-md-9">
    <span>My Devices: </span>
    <select id="device-select" name="device" class="form-control">
      {{#select currentDevice.given_id}}
        {{#each devices}}
          <option value="{{this.given_id}}" data-id="{{this.id}}">
            {{this.name}}
            {{~#if this.connected~}}
              &nbsp;&lt;Connected&gt;
            {{~else~}}
              &nbsp;&lt;Disconnected&gt;
            {{~/if~}}
          </option>
        {{/each}}
      {{/select}}
    </select>
  </div>
  <div class="col-md-3">
    <div  id="device-profile">
      {{#if currentMappingProfile}}
        {{currentMappingProfile.name}}
      {{else}}
        No Profile Selected
      {{/if}}
    </div>
  </div>
</div>
