<div class="row" id="settings-head">
  <div class="col-md-7">
    <span>MIDI Devices: </span>
    <select id="device-select" name="device" class="form-control">
      {{#select currentDevice.given_id}}
        <option class="list-group-item device-btn" value="--" selected>
          Select Device
        </option>
        {{#each devices}}
          <option value="{{this.given_id}}" data-id="{{this.id}}">
            {{this.name}}
          </option>
        {{/each}}
      {{/select}}
    </select>
  </div>
  <div class="col-md-5">
    <div  id="device-profile">
      {{#if currentMappingProfile}}
        {{currentMappingProfile.name}}
      {{else}}
        No Profile Selected
      {{/if}}
    </div>
  </div>
</div>
