<a class="navmenu-brand" href="#">Synthery</a>
<div class="midi-device-detail h5">No devices Connected</div>
<div class="new-map">
  <div class="alert alert-info" role="alert">Push any Control on your MIDI Device</div>
</div>
<div id="map-elements">
  {{#each midiMap.maps}}
    <div class="map row" data-id="{{../code}}">
      <div class="midi-code col-md-3">
        <span>{{this.code}}</span>
      </div>
      <div class="map-details col-md-8">
        <div class="map-animation-selector row">
          <form class="form-inline">
            <label for="anim">Animation: </label>
            <select name="anim" class="animation-select form-control">
              {{#each ../animations}}
                <option class="list-group-item anim-btn" data-midicode="{{../code}}" value="{{this.key}}">
                  {{this.name}}
                </button>
              {{/each}}
            </select>
          </form>
        </div>
        <div class="map-controls row">
          <button type="button" class="btn btn-labeled btn-primary btn-small trigger-map" data-midicode="{{this.code}}">
            <span class="btn-label"><i class="glyphicon glyphicon-play-circle"></i></span>
            Trigger
          </button>
          <button type="button" class="btn btn-danger btn-small remove-map" data-midicode="{{this.code}}">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
